[submodule "tools/jenkinsonk8s"]
	path = tools/jenkinsonk8s
	url = https://github.com/alinahid477/jenkinsonk8s.git
[submodule "tools/rabbitmqonk8s"]
	path = tools/rabbitmqonk8s
	url = https://github.com/alinahid477/rabbitmqonk8s.git
[submodule "tools/keycloakonk8s"]
	path = tools/keycloakonk8s
	url = https://github.com/alinahid477/keycloakonk8s.git
[submodule "tools/portainerontanzu"]
	path = tools/portainerontanzu
	url = https://github.com/alinahid477/portainerontanzu.git
[submodule "tools/tbsonpubliccloud"]
	path = tools/tbsonpubliccloud
	url = https://github.com/alinahid477/tbsonpubliccloud.git
[submodule "tkg/tkgonaws"]
	path = tkg/tkgonaws
	url = https://github.com/alinahid477/tkgonaws.git
[submodule "tkg/tkgonazure"]
	path = tkg/tkgonazure
	url = https://github.com/alinahid477/tkgonazure.git
[submodule "tools/vsphere-with-tanzu-wizard"]
	path = tools/vsphere-with-tanzu-wizard
	url = https://github.com/alinahid477/vsphere-with-tanzu-wizard.git
[submodule "tools/tbswizard"]
	path = tools/tbswizard
	url = https://github.com/alinahid477/tbswizard.git
[submodule "tools/tapwizard"]
	path = tools/tapwizard
	url = https://github.com/alinahid477/tapwizard.git
[submodule "tkg/merlin-tkg"]
	path = tkg/merlin-tkg
	url = https://github.com/alinahid477/merlin-tkg.git
[submodule "tools/tmc-registration"]
	path = tools/tmc-registration
	url = https://github.com/alinahid477/tmc-registration.git
[submodule "tools/octantcontainer"]
	path = tools/octantcontainer
	url = https://github.com/alinahid477/octantcontainer.git
